*{
    margin: 0;
    padding: 0;
}
#video-container{
    display: flex;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
}
#video-container > video{
    border-radius: 1rem;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 400px;
    margin: 50px 0;
}
#local-video{
    border: 2px solid red;
}
#remote-video{
    border: 2px solid blue;
}

#user-controls{
    display: flex;
    justify-content: center;
}

#user-controls>button{
    border: none;
    padding: 20px;
    margin: 10px;
    border-radius: 1rem;
    font-weight: bolder;
    font-size: 1rem;
}
#hangup{
    background-color: red;
}
#answer{
    background-color: green;
}
#user-controls>button:hover{
    cursor: pointer;
}